<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>787537725398-2k32qnn2tkbuimi81qoutjen8p2gan3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787537725398-2k32qnn2tkbuimi81qoutjen8p2gan3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAHmObjJIuSoQxALHQZA-D_O9xj7koKUI4</string>
	<key>GCM_SENDER_ID</key>
	<string>787537725398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusukehirose.Happystagrama</string>
	<key>PROJECT_ID</key>
	<string>happystagram-afbd3</string>
	<key>STORAGE_BUCKET</key>
	<string>happystagram-afbd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:787537725398:ios:47659972e4117047</string>
	<key>DATABASE_URL</key>
	<string>https://happystagram-afbd3.firebaseio.com</string>
</dict>
</plist>